<ion-content padding>
  <div text-right>
    <button ion-button icon-only clear color="light" large (click)="dismiss()">
      <ion-icon item-end name="close"></ion-icon>
    </button>
  </div>
  <br>
  <br>
  <br>
  <ion-list no-lines>
    <ion-item>
      <ion-label stacked>Selecione um arquivo</ion-label>
      <ion-input type="file" accept="image/*" (change)="fileChangeListener($event)"></ion-input>
    </ion-item>
  </ion-list>

  <p text-center *ngIf="image">
    <img src="{{ image }}" alt="" width="100%">
    <br>
    <br>

    <button ion-button large round outline color="light" *ngIf="image" (click)="submit()">CONTINUAR</button>
  </p>
</ion-content>
